.cards {
  /* display: flex; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 100px;
  width: 920px;
  margin: auto;
  padding: 0;
}
