.video__iframes {
  /* display: flex; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;
  width: 1050px;
  padding: 0;
  margin-top: 50px;
  column-gap: 20px;
  row-gap: 20px;
}
