.header__link {
  position: absolute;
  bottom: 0px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link:hover {
  color: #2f81ed82;
  transition: color .4s ease-out;
}
