.resources__logo-zone {
  /* display: flex; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 217px;
  width: 1100px;
}
