@font-face {
  src: url(https://practicum-content.s3.us-west-1.amazonaws.com/fonts/moved_Ibmplexserif.woff2) format('woff2'),
       url(https://practicum-content.s3.us-west-1.amazonaws.com/fonts/moved_Ibmplexserif.woff) format('woff'),
       url(https://practicum-content.s3.us-west-1.amazonaws.com/fonts/moved_Ibmplexserif.ttf) format('truetype');
  font-family: 'IBM Plex Serif';
  font-weight: normal;
}

@font-face {
  src: url(https://practicum-content.s3.us-west-1.amazonaws.com/fonts/moved_Ibmplexserifsemibold.woff2) format('woff2'),
       url(https://practicum-content.s3.us-west-1.amazonaws.com/fonts/moved_Ibmplexserifsemibold.woff) format('woff'),
       url(https://practicum-content.s3.us-west-1.amazonaws.com/fonts/moved_Ibmplexserifsemibold.ttf) format('truetype');
  font-family: 'IBM Plex Serif';
  font-weight: bold;
}
