.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 0;
  overflow: hidden;
  transform: rotate(-15deg);
  animation: rotation 20s linear;
  animation-iteration-count: 1;
}
