.resources__logo {
  /* display: flex; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  height: 38px;
}
